.carousel-image-div {
    background-color: #e1ede3;
    border-radius: 15px;
    max-width: 100%;
    max-height: calc(100vh - 60px);
}

.carousel-image {
    max-width: 100%;
    max-height: calc(100vh - 60px);
}

.carousel .slide img {
    width: auto;
    vertical-align: top;
    border: 0;
}

.thumbs-wrapper {
    text-align: center;
}