
#home-page-title-div {
    max-width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
}

.home-page-title {
    height: 30px;
    height: 13vw;
    font-size: 30px;
    font-size: 13vw;
    font-family: Kalam;
    opacity: 1;
    transition: 1s all ease;
    will-change: opacity;
}

.fade-in {
    opacity: 0;
}

.map-link-div {
    margin-bottom: 30px;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

.map-link-image {
    max-width: 100%;
}