
.popup-image-div {
    height: 125px;
    width: 125px;
    max-height: 125px;
    max-width: 125px;
    text-align: center;
}

.popup-image {
    height: 100%;
}

.popup-number {
    text-align: center;
}

.popup-name {
    text-align: center;
}