.img-preview{
    width: 300px;
    max-width: 300px;
    max-height: 300px;
}

.bollard-card-div{
    display: inline-block;
    border: 3px #096e0041 solid;
    border-radius: 25px;
    background: #d8ffa2;
    padding: 20px;
    margin: 15px;
}

.bollard-card-text-div{
    width: 300px;
    height: 210px;
    text-align: center;
    overflow: auto;
}