.bollard-card {
    width: 258px; 
    padding: 3px;
    margin: 5px;
  }

  .img-loading-div {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }